/* FIRESWAG */

:root{
  --Pink: #f5c2e7;
  --Mauve: #cba6f7;
  --Red: #f38ba8;
  --Maroon: #eba0ac;
  --Peach: #fab387;
  --Yellow: #f9e2af;
  --Green: #a6e3a1;
  --Teal: #94e2d5;
  --Sky: #89dceb;
  --Sapphire: #74c7ec;
  --Blue: #89b4fa;
  --Lavender: #b4befe;
  --Text: #cdd6f4;
  --Subtext1: #bac2de;
  --Subtext0: #a6adc8;
  --Overlay2: #9399b2;
  --Overlay1: #7f849c;
  --Overlay0: #6c7086;
  --Surface2: #585b70;
  --Surface1: #45475a;
  --Surface0: #313244;
  --Base: #1e1e2e;
  --Mantle: #181825;
  --Crust: #11111b;
}

:root{
  /* tab size */
  --tab-min-height: 30px !important;
  --tab-min-width: 60px !important;
  /* Popup window color */
}

#main-window {
  background-color: var(--Base) !important;
}

#nav-bar,
#PersonalToolbar,
#titlebar {
  background-color: var(--Base) !important;
}


.tabbrowser-tab {
  background-color: var(--Base) !important;
}
.tabbrowser-tab[selected] {
  color: var(--Crust) !important;
}

.tab-background[selected] {
  background-color: var(--Green) !important;
}
.tab-background {
  background-color: var(--Surface0) !important;
}
#urlbar-background {
  background-color: var(--Surface0) !important;
}

#urlbar[selected] {
  border-color: var(--Mauve) !important;
}

#urlbar-container {
  max-width: 800px !important;
  justify-content: center !important;
}


/* Hide some toolbar buttons */
#save-to-pocket-button {
    display: none !important;
}
#developer-button {
    display: none !important;
}
#fxa-toolbar-menu-button {
    display: none !important;
}
#reload-button {
    display: none !important;
}
/*
#unified-extensions-button {
  display: none !important;
}
*/
#firefox-view-button {
  display: none !important;
}
#alltabs-button {
  display: none !important;
}
.toolbar-items > toolbartabstop:nth-child(0) {
  display: none !important;
}
#identity-box {
  display: none !important;
}


/* ICONS */
/* tab icon */
tab[fadein] .tab-icon-image {
    content: url("../icons/tabicon.svg") !important;
}



